@media(min-width:1960px){
    .manufacturer-slider__item{
        height: 65rem;
    }

}

@media(max-width:1250px){
    .heading-block__left-title{
        font-size: 9rem;
    }
    .heading-block__right-text{
        font-size: 2rem;
    }
    .advantages-box,
    .are-box,
    .about-home__box,
    .questions-accardion,
    .stages-box,
    .feedback-block__right,
    .manufacturing-box,
    .principles-box,
    .about-content,
    .are-box--about,
    .contact-block__content,
    .contact-production__gallery,
    .are-box--about,
    .vacancies-block__content{
        max-width: 90rem;
        width: 100%;
    }
    .manufacturer-slider__box {
        margin-left: calc(50% - 100rem / 2);
    }
    .manufacturer-slider__mobile,
    .manufacturer-slider__box--mobile,
    .manufacturer-slider__arrows--mobile,
    .customers-slider__mobile,
    .customers-slider__box--mobile,
    .customers-slider__arrows--mobile,
    .portfolio-slider__mobile,
    .portfolio-slider__box--mobile,
    .portfolio-slider__arrows--mobile,
    .certificates-slider__arrows--mobile,
    .certificates-slider__mobile,
    .certificates-slider__box--mobile{
        display: block;
    }
    .manufacturer-slider__box,
    .customers-slider__box,
    .portfolio-slider__box,
    .certificates-slider__box{
        display: none;
    }
    .manufacturer-slider__arrows .slick-next,
    .manufacturer-slider__arrows .slick-prev,
    .customers-slider__arrows .slick-next,
    .customers-slider__arrows .slick-prev,
    .portfolio-slider__arrows .slick-next,
    .portfolio-slider__arrows .slick-prev,
    .certificates-slider__arrows .slick-next, 
    .certificates-slider__arrows .slick-prev{
        display: none !important;
    }
    .are{
        padding: 8rem 0 8rem 0;
    }
    .are-box{
        margin-bottom: 1rem;
    }
    .are-wrapper__form-input,
    .are-wrapper__text,
    .are .are-wrapper__form-btn,
    .are-wrapper__file input{
        max-width: 270px;
        width: 100%;
    }
    .are-wrapper__info{
        gap: 3rem;
    }
    .customers-slider__title,
    .portfolio-slider__title,
    .certificates-slider__title{
        margin-bottom: 2rem;
        width: 100%;
        transform: translateY(0);
    }
    .stages-block,
    .feedback-block,
    .principles-block{
        flex-direction: column;
    }
    .feedback-block__right-map iframe{
        width: 100%;
    }
    .feedback-block__right,
    .principles-block__title{
        max-width: 100%;
    }
    .principles-box{
        max-width: 100%;
    }
    .footer-block{
        gap: 20px;
    }
    .about-content__item-text::before{
        width: 114%;
    }
    .are-wrapper__info-img{
        width: 300px;
    }
}

@media(max-width:1000px){
    .are-wrapper__info,
    .about-home__block,
    .are-block,
    .feedback-block__contact,
    .manufacturing-block{
        flex-direction: column;
    }
    .stages-box__item{
        width:100%;
    }
    .stages-box__item-img::after,
    .stages-box__item:nth-child(4) .stages-box__item-img::after, .stages-box__item:nth-child(5) .stages-box__item-img::after{
        width: 100%;
        right: 0;
    }
    .stages-box__item:last-child{
        margin-left: 0;
    }
    .feedback-block__item{
        margin-bottom: 10px;
    }
    .manufacturing-box,
    .manufacturing-block__title,
    .are-box--about{
        max-width: 100%;
    }
    .about-content__item-text::before{
        width: 119%;
    }
    .are-wrapper__info-img{
        width: 100%;
    }
    .policy{
        padding: 0 0 4rem 0;
    }
}


@media(max-width:850px){
    .heading-block,
    .advantages-block,
    .accardion-block,
    .contact-block,
    .contact-production__box,
    .vacancies-block{
        flex-direction: column;
    }
    .heading-block__left,
    .heading-block__right,
    .heading-block__left-subtitle,
    .heading-block__left-text{
        width: 100%;
    }
    .heading-block__right-text{
        display: none;
    }
    .heading-block__right-text--mobile{
        margin-bottom: 3rem;
        display: block;
    }
    .manufacturer-slider__box-title{
        text-transform: none;
    }
    .are-box__item{
        width: calc(100% / 2 - 2rem)
    }
    .principles-box__wrapper{
        flex-wrap: wrap;
    }
    .principles-box__item{
        padding-bottom: 2rem;
        width: 100%;
    }
    .footer-block{
        flex-wrap: wrap;
    }
    .work-block{
        flex-direction: column;
    }
    .work-block__category{
        width: 100%;
    }
    .work-block__list{
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow-x: auto;
    }
    .work-block__list li a{
        display: block;
        text-align: center;
    }
    .work-block__list li{
        min-width: 220px;
    }
    .work,
    .contact,
    .vacancies{
        padding: 3rem 0 4rem 0;
    }
    .about-block{
        flex-direction: column;
    }
    .about,
    .contact-production{
        padding: 4rem 0 4rem 0;
    }
    .about-content__item-text::before{
        width: 116%;
    }
}



@media(max-width:650px){
    .heading-block__left-subtitle,
    .heading-block__left-text{
        font-size: 18px;
        text-transform: none;
    }
    .heading-block__left-title{
        margin: 20px 0 10px 0;
        font-size: 27px;
        line-height: 28px;
        letter-spacing: 3px;
    }
    .heading-block__right-text{
        font-size: 16px;
        line-height: 24px;
    }
    .heading-block__bottom{
        flex-wrap: wrap;
    }
    .heading-block__bottom-btn,
    .heading-block__bottom-button{
        max-width: 100%;
        height: 60px;
        line-height: 60px;
    }
    .heading-wrapper,
    .heading{
        min-height: 50rem;
    }
    .heading-block__left{
        padding-top: 50px;
    }
    .heading-block__left-text{
        margin-bottom: 10px;
    }
    .advantages,
    .accardion,
    .stages,
    .feedback,
    .principles{
        padding: 4rem 0 4rem 0;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
        text-transform: none;
    }
    .advantages-box__item{
        padding: 2rem;
        width: 100%;
    }
    .advantages-box__item-btn{
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
    .manufacturer-slider__item{
        height: 52rem;
    }
    .manufacturer-slider__top{
        flex-direction: column;
    }
    .manufacturer-slider__top-title{
        max-width: 100%;
    }
    .manufacturer-slider__top-text{
        max-width: 100%;
    }
    .are-wrapper__form-title{
        max-width: 100%;
        font-size: 20px;
        line-height: 24px;
       text-transform: none;
    }
    .customers-slider,
    .portfolio-slider{
        padding: 4rem 0 4rem 0;
    }
    .portfolio-slider__item-text{
        text-transform: none;
    }
    .about-home__box,
    .questions-accardion__info{
        flex-direction: column;
    }
    .about-home__number,
    .about-home__info,
    .manufacturing-box__item{
        width: 100%;
    }
    .about-home,
    .certificates-slider{
        padding: 4rem 0 4rem 0;
    }
    .questions-accardion__left img{
        width: 100%;
    }
    .feedback-block__right-map iframe{
        height: 340px;
    }
    .feedback-block__item p{
        font-size: 16px;
        text-transform: none;
    }
    .feedback-block__contact{
        margin-bottom: 2rem;
    }
    .manufacturing-box__item-number{
        font-size: 38px;
        line-height: 34px;
    }
    .manufacturing-box__item{
        align-items: flex-start;
    }
    .work-block__item-title{
        text-transform: none;
    }
    .work-block__item-img{
        width: 100%;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .work-block__category-title{
        width: 100%;
    }
    .about-content__text{
        margin-bottom: 20px;
    }
    .policy div{
        font-size: 18px;
        line-height: 24px;
    }
    .policy,
    .policy-block,
    .policy-block p{
        max-width: 100%;
    }
    .policy div.policy-block__title {
        padding-top: 0;
        font-size: 20px;
    }
    .policy-block p{
        width: 100%;
    }
    .work-block__hidden{
        flex-wrap: wrap;
    }
    .stages-box__item{
        margin-bottom: 2.5rem;
    }
    .manufacturing-box{
        gap: 3rem;
    }
}


@media(max-width:550px){
    .manufacturer-slider{
        padding-bottom: 4rem;
    }
    .are-box__item{
        width: 100%;
    }
    .are-wrapper__form-input,
    .are-wrapper__text,
    .are .are-wrapper__form-btn{
        max-width: 100%;
        width: 100%;
    }
    .are,
    .manufacturing{
        padding: 4rem 0 4rem 0;
    }
    .are-box__item-number{
        font-size: 35px;
    }
    .are-box__item{
        margin-bottom: 1rem;
    }
    .are-box__item-text{
        font-size: 16px;
    }
    .are-box__item:last-child{
        margin: 0;
    }
    .are-wrapper__form{
        padding: 2rem;
        margin-top: 2rem;
    }
    .about-home__item-title{
        font-size: 3rem;
        line-height: 4rem;
    }
    .about-home__info-title{
        text-transform: none;
    }
    .questions-accardion__title{
        font-size: 18px;
    }
    .questions__wrapper{
        padding: 1.5rem 0 1.5rem 0;
    }
    .manufacturing-box__item{
        margin-bottom: 0;
    }
    .principles-box__item-text,
    .principles-block__item-text{
        font-size: 16px;
        line-height: 22px;
    }
    .principles-block__item-text{
        margin-bottom: 10px;
    }
    .principles-block{
        gap: 2rem;
    }
    .footer-block__item--hidden{
        display: none;
    }
    .footer-block__item--mobile{
       
        display: block;
        width: 100%;
    }
    .footer{
        padding-top: 4rem;
    }
    .footer-block__item-phone, .footer-block__item-address, .footer-block__item-email{
        margin-bottom: 1.5rem;
    }
    .footer-block__item-btn{
        width: 100%;
        margin: 30px 0 20px 0;
    }
    .footer-block__item-logo{
        font-size: 3rem;
    }
    .work-block__category-title{
        margin-bottom: 20px;
    }
    .work-block__item{
        width: 100%;
    }
    .about-content__wrapper{
        padding: 0 1rem 0 1rem;
    }
    .about-content{
        max-width: 100%;
    }
    .about-content__item-text::before{
        left: -11px;
        width: 110%;
    }
    .about-content__item-text{
        font-size: 12px;
    }
    .contact-production__gallery{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        overflow-x: auto;
    }
    .contact-production__gallery-img img{
        padding-bottom: 1.5rem;
        min-width: 285px;
        height: 100%;
        object-fit: cover;
    }
    .are--contact .are-wrapper__form{
        margin-top: 0;
    }
    .vacancies-block__content{
       overflow-x: auto;
    }
    .vacancies-block__item{
      min-width: 295px;
      padding-bottom: 1rem;
    }
    .vacancies-block__item-img{
        margin-bottom: 5px;
        object-fit: cover;
    }
    .vacancies-block__item-text{
        text-transform: none;
    }
    .vacancies{
        padding-bottom: 0;
    }
    .sitemap-block{
        flex-direction: column;
        gap: 2rem;
    }
    .sitemap{
        padding: 3rem 0 3rem 0;
    }
    .sitemap-menu__list li{
        margin-bottom: 0;
    }
    .sitemap-menu__list li{
        padding: 1rem 0;
    }
    .thankyou-block__inner-text{
        font-size: 16px;
        text-align: center;
    }
    .error{
        padding: 2rem 0;
       min-height: unset;
    }
    .error-block__inner-title,
    .error-block__inner-numder{
        margin-bottom: 3rem;
    }
    .error-block__inner-numder{
        font-size: 8rem;
        line-height: 10rem;
    }
    .error-block__inner-text{
        font-size: 18px;
        margin-bottom: 2rem;
    }
}


@media(max-width:380px){
    .manufacturer-slider__item{
        height: 49rem;
    }
}