.policy{
    padding: 12rem 0 12rem 0;
    background: rgb(245, 245, 245);
}
.policy-block__title{
    margin-bottom: 4rem;
    text-align: center;
}
.policy div{
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 3rem;
}
.policy p{
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 24px;
}