.manufacturer-slider {
    padding-bottom: 12rem;
}
.manufacturer-slider__top {
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
}
.manufacturer-slider__top-title {
    max-width: 285px;
}
.manufacturer-slider__top-text {
    max-width: 59rem;
}
.manufacturer-slider__box {
    margin-left: calc(50% - 123rem / 2);
}

.manufacturer-slider__item {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    height: 53rem;
}
.manufacturer-slider__box-img {
   margin-bottom: 15px;
   object-fit: cover;
}
.manufacturer-slider__box-title {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.manufacturer-slider__list {
    margin-left: 17px;
    margin-bottom: 10px;
}
.manufacturer-slider__list-item {
    list-style: disc;
}
.manufacturer-slider__box-btn {
    margin-top: auto;
    display: block;
    width: 100%;
    height: 53px;
    line-height: 53px;
}
.slick-list{
   padding-right: 10%;
}
.manufacturer-slider__arrows{
    margin-top: 4rem;
    display: flex;
    gap: 10px;
}
.manufacturer-slider__arrows .slick-next,
.manufacturer-slider__arrows .slick-prev{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px; 
}
.manufacturer-slider__arrows .slick-next{
    background: url('../images/home/slider-customers-right.png') no-repeat;
}
.manufacturer-slider__arrows .slick-prev{
    background: url('../images/home/slider-customers-left.png') no-repeat;
}


//customers-slider
.customers-slider {
    padding: 12rem 0 12rem 0;
}
.customers-slider__title {
    width: 25rem;
    transform: translateY(27px);
}
.customers-slider__box {
    margin-left: calc(50% - 70rem / 2);
}
.customers-slider__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
     height: 120px;
    margin: 0 10px 0 10px;
    padding: 1.6rem 6.5rem;
    border: 1px solid rgba(63, 134, 249, 0.5);
    border-radius: 5px;
}
.customers-slider__item img{
    margin: 0 auto;
    object-fit: cover;
}
.customers-slider__arrows{
    margin: 3rem 0 0 26rem;
    display: flex;
    gap: 10px;
}
.customers-slider__arrows .slick-next,
.customers-slider__arrows .slick-prev{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px; 
}
.customers-slider__arrows .slick-next{
    background: url('../images/home/slider-customers-right.png') no-repeat;
}
.customers-slider__arrows .slick-prev{
    background: url('../images/home/slider-customers-left.png') no-repeat;
}


// portfolio-slider
.portfolio-slider {
    padding: 12rem 0 12rem 0;
    background: rgb(63, 134, 249);
}
.portfolio-slider__title {
    width: 250px;
    color: #fff;
    transform: translateY(27px);
}
.portfolio-slider__box {
    margin-left: calc(50% - 70rem / 2);
}
.portfolio-slider__item-img {
    margin-bottom: 15px;
    object-fit: cover;
}
.portfolio-slider__item-text {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.portfolio-slider__arrows{
    margin: 3rem 0 0 25rem;
    display: flex;
    gap: 10px;
}
.portfolio-slider__arrows .slick-next,
.portfolio-slider__arrows .slick-prev{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px; 
}
.portfolio-slider__arrows .slick-next{
    background: url('../images/home/slider-portfolio-right.png') no-repeat;
}
.portfolio-slider__arrows .slick-prev{
    background: url('../images/home/slider-portfolio-left.png') no-repeat;
}





// certificates-slider
.certificates-slider {
    padding: 12rem 0 12rem 0;
    background: rgb(63, 134, 249);
}
.certificates-slider__title {
    width: 250px;
    color: #fff;
    transform: translateY(57px);
}
.certificates-slider__box {
    margin-left: calc(50% - 70rem / 2);
}
.certificates-slider__item {
    margin: 0 15px;
}
.certificates-slider__arrows{
    margin: 3rem 0 0 26.5rem;
    display: flex;
    gap: 10px;
}
.certificates-slider__arrows .slick-next,
.certificates-slider__arrows .slick-prev{
    font-size: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px; 
}
.certificates-slider__arrows .slick-next{
    background: url('../images/home/slider-portfolio-right.png') no-repeat;
}
.certificates-slider__arrows .slick-prev{
    background: url('../images/home/slider-portfolio-left.png') no-repeat;
}


