.vacancies {
    padding: 12rem 0 0rem 0;
}
.vacancies-block {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.vacancies-block__content {
    width: 90rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.vacancies-block__item {
    width: calc(100% / 3 - 2rem);
}
.vacancies-block__item-img {
    margin-bottom: 15px;
}
.vacancies-block__item-text {
    font-size: 18px;
    text-transform: uppercase;
}
.vacancies--mobile{
    display: none;
}